{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
    {%include 'snippets/header.html'%} 


    
<!--Page Header Start-->
<section class="page-header clearfix" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-header__wrapper clearfix">
                    <div class="page-header__title">
                        <h2> My Cart </h2>
                    </div>
                    <div class="page-header__menu">
                        <ul class="page-header__menu-list list-unstyled clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Course Details</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Page Header End-->

<!--Start Course Details-->
<section class="course-details">
    <div class="container">
        <div class="row">
            <!--Start Course Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="course-details__content">
                    <!--Start Course Details Reviews-->
                    <div class="course-details__reviews">
                        <!--Start Course Details Comment-->
                        <div id='comment' class="course-details__comment">
                            {% if course %}
                            {% for course in course %}
                            <div class="course-details__comment-single">
                                <div class="course-details__comment-img">
                                    <img src="{{ course.Image.url }}" width='100' height='80' alt="course_image" />
                                </div>
                                <div class="course-details__comment-text">
                                    <div class="course-details__comment-text-top">
                                        <h3 class="course-details__comment-text-name">{{course.Name}}</h3>
                                        
                                        <div class="course-details__comment-review-stars">
                                          
                                        </div>
                                    </div>
                                    <p class="course-details__progress-text">By {{course.Tutor}}</p>
                                    <p>{{course.Duration}} total hours || {{course.No_of_lessons}} lectures || {{course.Level.capitalize}} Level</p>
                                    <p class="course-details__comment-text-bottom">${{course.Price_dollars}}(N{{course.Price_naira}})</p>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>No Order in Cart</p>
                            {% endif %}
                             
                        </div>
                        <!--End Course Details Comment-->

                        
                    </div>
                    <!--End Course Details Reviews-->
                </div>
            </div>
            <!--End Course Details Content-->

            <!--Start Course Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="course-details__sidebar">
                    <div class="course-details__price wow fadeInUp animated" data-wow-delay="0.1s">
                        <p>Total: </p>
                        <h2 class="course-details__price-amount">${{ price_dollars}} (N{{ price_naira}})<span></span></h2>
                        <div class="course-details__price-btn">
                            <form action='{% url 'payments:initiate'%}' method = 'POST'>
                                {% csrf_token %}
                                <input name='amount' hidden value='{{ price_naira }}'>
                                <input name='email' hidden value='{{ user.email }}'>
                                <button type="" class="thm-btn">Payout</button>
                            </form>
                            
                        </div>
                    </div>

                    <div class="course-details__sidebar-meta wow fadeInUp animated" data-wow-delay="0.3s">
                        <ul class="course-details__sidebar-meta-list list-unstyled">
                            
                        </ul>
                    </div>

                    
                </div>
            </div>
            <!--End Course Details Sidebar-->
        </div>
    </div>
</section>
<!--End Course Details-->


<!--Start Footer One-->

{% endblock %}