{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
    {%include 'snippets/header.html'%} 


    
<!--Page Header Start-->
<section class="page-header clearfix" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-header__wrapper clearfix">
                    <div class="page-header__title">
                        <h2>Course Details</h2>
                    </div>
                    <div class="page-header__menu">
                        <ul class="page-header__menu-list list-unstyled clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Course Details</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Page Header End-->

<!--Start Course Details-->
<section class="course-details">
    <div class="container">
        <div class="row">
            <!--Start Course Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="course-details__content">
                    <!--Start Single Courses One-->
                    <div class="courses-one__single style2 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="courses-one__single-img">
                            {% comment %} <img src="{% static 'images/resources/course-details-img2.jpg' %}" alt=""/> {% endcomment %}
                            <img src="{{ object.Image.url }}" alt=""/>

                            <div class="overlay-text">
                                <p>{{ object.Level }}</p>
                            </div>
                        </div>
                        <div class="courses-one__single-content">
                            <div class="courses-one__single-content-overlay-img">
                                <img src="{% static 'images/resources/course-details-overlay-img.png' %}" alt=""/>
                            </div>
                            <h6 class="courses-one__single-content-name">{{ object.Tutor }} <span>Recently Updated {{ object.updated_at }}</span></h6>
                            <h4 class="courses-one__single-content-title">{{ object.Name }}</h4>
                            <div class="courses-one__single-content-review-box">
                                <ul class="list-unstyled">
                                    {% for _ in range %}
                                    <li><i class="fa fa-star"></i></li>
                                    {% endfor %}
                                    
                                </ul>
                                <div class="rateing-box">
                                    <span>({{rating_count}})</span>
                                </div>
                                
                            </div>
                            <div class="course-details__price-btn">
                                <form id='add_to_cart2'>
                                    {% csrf_token %}
                                    <input name='course_id' hidden value='{{ object.id }}'>
                                    <input name='cart_id' hidden value='{{ user.id }}'>
                                    <button type="submit" class="thm-btn">Add to Cart</button>
                                </form>
                            </div>
                            <div class="course-details__content-text1">
                                <p>{{object.course_description}}</p>
                        </div>

                            




                        </div>
                    </div>
                    <!--End Single Courses One-->

                    <!--Start Course Details Curriculum-->
                    <div class="course-details__curriculum">
                        <h2 class="course-details__curriculum-title">Curriculum</h2>
                        <!--Start Single Course Details Curriculum-->
                        <div class="course-details__curriculum-single">
                            <h3 class="course-details__curriculum-single-title">Course Content Overview</h3>
                            <p class="course-details__curriculum-single-text">{{curriculum.detail}}</p>
                            <div class="course-details__content-list"><br>
                                <ul class="list-unstyled">
                                    {% for object in module %}
                                        <li>
                                            <div class="icon">
                                                <span class="icon-confirmation"></span>
                                            </div>
                                            <div class="text">
                                                <p>Module {{object.module_number}}: {{object.module_name}}</p>
                                                <ul>
                                                {% for item in object.get_content %}
                                                <li>-{{item}}</li>
                                                {% endfor %}
                                            </ul>
                                            </div>
                                        </li>
                                    {% endfor %}
 

                                   
                            </div>
                        </div>
                        <!--End Single Course Details Curriculum-->

                        
                    </div>
                    <!--End Course Details Curriculum-->

                    <!--Start Course Details Reviews-->
                    <div class="course-details__reviews">
                        <h3 class="course-details__reviews-title">Reviews</h3>
                        <div class="course-details__progress-review">
                            <div class="row">
                                {% comment %} <div class="col-xl-7 col-lg-7 col-md-7">
                                    <div class="course-details__progress clearfix">
                                        
                                    </div>
                                </div> {% endcomment %}

                                <div class="col-xl-8 col-lg-8 col-md-8 center">
                                    <div class="course-details__review-box">
                                        <h2 class="course-details__review-count">{{rating_count}}</h2>
                                        <div class="course-details__review-stars">
                                            {% for _ in range %}
                                            <i class="fa fa-star"></i>
                                            {% endfor %}
                                            
                                        </div>
                                        <p class="course-details__review-text" id='_rating'>{{rating_len}} reviews</p>
                                        <p style='display:none;' id='rating_'>{{rating_len}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Start Course Details Comment-->
                        <div id='comment' class="course-details__comment">
                            {% for review in Reviews %}
                            <div class="course-details__comment-single">
                                <div class="course-details__comment-img">
                                    <img src="{% static 'images/resources/course-details-comment-img1.png' %}" alt=""/>
                                </div>
                                <div class="course-details__comment-text">
                                    <div class="course-details__comment-text-top">
                                        <h3 class="course-details__comment-text-name">{{review.name}}</h3>
                                        <p>{{ review.created_at }}</p>
                                        <div class="course-details__comment-review-stars">
                                            {% if review.rating is 5 %}
                                            <p class="course-details__progress-text">Excellent</p>
                                            {% elif review.rating is 4 %}
                                            <p class="course-details__progress-text">Very good</p>
                                            {% elif review.rating is 3 %}
                                            <p class="course-details__progress-text">Good</p>
                                            {% elif review.rating is 2 %}
                                            <p class="course-details__progress-text">Not bad</p>
                                            {% else  %}
                                            <p class="course-details__progress-text">Poor</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <p class="course-details__comment-text-bottom">{{ review.comment }}</p>
                                </div>
                            </div>
                            {% endfor %}
                             
                        </div>
                        <!--End Course Details Comment-->

                        <div class="course-details__add-review">
                            <h2 class="course-details__add-review-title">Add a Review</h2>                          
                            <div class="course-details__add-review-form">
                                <form id="commentform">
                                {% comment %} <form action="{% url 'courses:course_reviews' %}" id="form" method="POST"> {% endcomment %}
                                    {% csrf_token %}
                                    <div class="row">
                                        <p>Rate this Course?</p>
                                        <div id="half-stars-example">
                                            <div class="rating-group">
                                                <input class="rating__input rating__input--none" checked name="rating" id="rating2-0" value="0" type="radio">
                                                <label style="font-size: 45px; margin-right: -5px;" aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
                                                <label style="font-size: 45px; margin-right: -5px;" aria-label="1 star" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating2-10" value="1" type="radio">
                                                <label style="font-size: 45px; margin-right: -5px;" aria-label="2 stars" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating2-20" value="2" type="radio">
                                                <label style="font-size: 45px; margin-right: -5px;" aria-label="3 stars" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating2-30" value="3" type="radio">
                                                <label style="font-size: 45px; margin-right: -5px;" aria-label="4 stars" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating2-40" value="4" type="radio">
                                                <label style="font-size: 45px; margin-right: -5px;" aria-label="5 stars" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating2-50" value="5" type="radio">
                                            </div>
                                            <p>Space on left side to select 0 stars</p>
                                        </div>
        
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="comment-form__input-box">
                                                <input type="text" hidden value='{{ user.username }}'  placeholder="Your name" name="name">
                                            </div>
                                                <input type="text" hidden name="course_id" value='{{ object.id }}'>
                                            <div class="comment-form__input-box">
                                                <input type="email" hidden value='{{ user.email }}'  placeholder="Email address" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="comment-form__input-box">
                                                <textarea name="comment" required placeholder="Write Comment"></textarea>
                                            </div>
                                            <button type="submit" class="thm-btn comment-form__btn">Submit review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Course Details Reviews-->
                </div>
            </div>
            <!--End Course Details Content-->

            <!--Start Course Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="course-details__sidebar">
                    <div class="course-details__price wow fadeInUp animated" data-wow-delay="0.1s">
                        <h2 class="course-details__price-amount">${{ object.Price_dollars}} (N{{ object.Price_naira}})<span><del>Free</del></span></h2>
                        <div class="course-details__price-btn">
                            <form id='add_to_cart'>
                                {% csrf_token %}
                                <input name='course_id' hidden value='{{ object.id }}'>
                                <input name='cart_id' hidden value='{{ user.id }}'>
                                <button type="submit" class="thm-btn">Add to Cart</button>
                            </form>
                            
                        </div>
                    </div>

                    <div class="course-details__sidebar-meta wow fadeInUp animated" data-wow-delay="0.3s">
                        <ul class="course-details__sidebar-meta-list list-unstyled">
                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-clock"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Durations:<span>{{ object.Duration}} hours</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-folder-open"></i></a>
                                </div>
                                <div class="text">
                                    <p>Lectures:<span> {{ object.No_of_lessons }} </span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-user-circle"></i></a>
                                </div>
                                <div class="text">
                                    <p>Students Enrolled:<span>  {{ '6'}}</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="fas fa-play"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Video:<span>20 hours</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-flag"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Skill Level:<span>{{object.Level.capitalize}}</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-bell"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Language:<span>English</span></a></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="course-details__new-courses wow fadeInUp animated" data-wow-delay="0.5s">
                        <h3 class="course-details__new-courses-title">Other Courses</h3>
                        <ul class="course-details__new-courses-list list-unstyled">
                            {% for obj in courses %}
                            <li class="course-details__new-courses-list-item">
                                <div class="course-details__new-courses-list-item-img">
                                    <img src="{{ obj.Image.url }}" width='90' height='60' alt="course_image"/>
                                </div>
                                <div class="course-details__new-courses-list-item-content">
                                    <h4 class="course-details__new-courses-list-item-content-title"><a href="{% url 'courses:course_detail' obj.id %}">{{obj.Name}}</a></h4>
                                    <div class="course-details__new-courses-rateing-box">
                                        {% comment %} <ul class="list-unstyled">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="course-details__new-courses-rateing-count">
                                            <span>(4)</span>
                                        </div> {% endcomment %}
                                    </div>
                                    <p class="course-details__new-courses-price">${{obj.Price_dollars}} (N{{obj.Price_naira}})</p>
                                </div>
                            </li>
                            
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Course Details Sidebar-->
        </div>
    </div>
</section>
<!--End Course Details-->


<!--Start Footer One-->

{% endblock %}