 <!DOCTYPE html>
<html lang="en">
{% load socialaccount %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Williams Academy</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/iofrm-style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/iofrm-theme2.css" %}">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg" style='background-image: url("{% static "images/backgrounds/main-slider-v2-2.jpg" %}")'></div>
                <div class="info-holder simple-info">
                    <div><img src="{% static "images/resources/logo-2.png" %}" alt=""></div>
                    {% comment %} <div><h3>We’re Accepting applications!</h3></div>
                    <div><p>Fill the form, attach your  latest CV <br>and portfolio to get listed.</p></div> {% endcomment %}
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Welcome Back</h3>
                        <p>Login and start exploring the endless possibilities of Blockchain and Cryptocurrency.    </p>
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                        {% endif %}
                        <div class="page-links">
                            <a href="{% url "login" %}" class="active">Login</a><a href="{% url "register" %}">Register</a>
                        </div>
                        <form action="{% url "login" %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <input class="form-control" type="text" name="username" placeholder="Username" required>
                            <div class='input-group'>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            {% comment %} <div class="input-group-addon">
                                <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                            </div> {% endcomment %}
                            </div>
                            {% comment %} <input type="checkbox" id="chk1"><label for="chk1">Remmeber me</label> {% endcomment %}
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="forget2.html">Forget password?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or login with</span>
                            {% comment %} <a href="{% url 'social:begin' 'facebook' %}">Facebook</a> {% endcomment %}
                            <a href="{% provider_login_url 'google' %}">Google</a>
                            <a href="{% url 'social:begin' 'github' %}">Github</a>
                            <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</body>

</html> 