{% load static %}
<header class="main-header main-header--one clearfix">
  <div class="main-header--one__top clearfix">
    <div class="container">
      <div class="main-header--one__top-inner clearfix">
        <div class="main-header--one__top-left">
          <div class="main-header--one__top-logo">
            <a href="{% url 'home' %}"
              ><img src="{% static 'images/resources/logo-1.png' %}" alt=""
            /></a>
          </div>
        </div>

        <div class="main-header--one__top-right clearfix">
          <ul class="main-header--one__top-social-link list-unstyled clearfix">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>

          <div class="main-header--one__top-contact-info clearfix">
            <ul class="main-header--one__top-contact-info-list list-unstyled">
              <li class="main-header--one__top-contact-info-list-item">
                <div class="icon">
                  <span class="icon-phone-call-1"></span>
                </div>
                <div class="text">
                  <h6>Call or Whatsapp</h6>
                  <p><a href="tel:08068774727">+234 806 877 4727</a></p>
                </div>
              </li>
              <li class="main-header--one__top-contact-info-list-item">
                <div class="icon">
                  <span class="icon-message"></span>
                </div>
                <div class="text">
                  <h6>Send us an Email</h6>
                  <p>
                    <a href="mailto:ifeanyiubawilliams@gmail.com">
                      info@williamsacademy.xyz</a
                    >
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-header-one__bottom clearfix">
    <div class="container">
      <div class="main-header-one__bottom-inner clearfix">
        <nav class="main-menu main-menu--1">
          <div class="main-menu__inner">
              <div class="left">
                  <div class="logo-box1">
                      <a href="{% url 'home' %}">
                          <img src="{% static 'images/resources/logo-2.png' %}" alt="">
                      </a>
                  </div>
              </div>
              <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

              <div class="middle">
                  <ul class="main-menu__list">
                     <li><a href="{% url 'home' %}" style='color:#4d71e9;'>Home</a></li>
                      </li>
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'courses:courses' %}">Courses</a></li>
                      
                     </li>
                    
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                      {% if user.is_superuser%}
                      <li class="dropdown">
                      <a href="#"> Admin</a>
                      <ul>
                          <li><a href="/admin">Dashboard</a></li>
                          <li><a href="{% url 'courses:course_create'%}"> Create Course</a></li>
                      </ul>
                      </li>
                      {% endif %}
                  </ul>
              </div>

              <div class="right">
                  <div class="main-menu__right">
                      <div class="main-menu__right-cart-search">
                          <div class="main-menu__right-cart-box">
                              <a href="#"><span class="icon-shopping-cart"></span></a>
                              <span class='badge badge-warning cart' id='lblCartCount'> {{items_in_cart}} </span>
                          </div>
                          <div class="main-menu__right-search-box">
                              <a href="#" class="thm-btn search-toggler">Search</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
      </div>
    </div>
  </div>
</header>

<div class="stricky-header stricked-menu main-menu">
  <div class="sticky-header__content">
    <nav class="main-menu main-menu--1">
      <div class="main-menu__inner">
          <div class="left">
              <div class="logo-box1">
                  <a href="{% url 'home' %}">
                      <img src="{% static 'images/resources/logo-2.png' %}" alt="">
                  </a>
              </div>
          </div>
          <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

          <div class="middle">
              <ul class="main-menu__list">
                 <li><a href="{% url 'home' %}" style='color:#4d71e9;'>Home</a></li>
                  </li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'courses:courses' %}">Courses</a></li>
                  
                 </li>
                
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  {% if user.is_superuser%}
                  <li class="dropdown">
                  <a href="#"> Admin</a>
                  <ul>
                      <li><a href="/admin">Dashboard</a></li>
                      <li><a href="{% url 'courses:course_create'%}"> Create Course</a></li>
                  </ul>
                  </li>
                  {% endif %}
              </ul>
          </div>

          <div class="right">
              <div class="main-menu__right">
                  <div class="main-menu__right-cart-search" id='cart_'>
                      <div class="main-menu__right-cart-box">
                          <a href="#"><span class="icon-shopping-cart"></span></a>
                          <span class='badge badge-warning cart' id='lblCartCount'> {{items_in_cart}} </span>
                      </div>
                      <div class="main-menu__right-search-box">
                          <a href="#" class="thm-btn search-toggler">Search</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </nav>
  </div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
